@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Trân trọng cảm ơn bạn đã phản hồi dịch vụ của Elite Hotel, những sự đóng góp quý báu của bạn làm chúng tôi hoàn thiện dịch vụ của mình hơn!</h2>
