@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 col-md-12">
<h3>
    Chúng tôi đã nhận yêu cầu đặt phòng của bạn! Chúng tôi sẽ liên hệ với khách hàng qua email và điện thoại sớm nhất!
</h3>
</div>
