@model HotelGolfBooking.Models.slide

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Bạn có chắc chắn xóa slie?</h3>
<fieldset>
    <label for="room" style="width:auto;display:block;"> @Model.caption</label>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-info" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
