<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>EliteHotel CMS Version 1.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="noindex,nofollow,noodp"/>
<link rel="shortcut icon" href="favicon.ico">
<!-- Stylesheets -->
<link rel="stylesheet" href="~/Content/css/animate.css">
<link rel="stylesheet" href="~/Content/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/css/owl.theme.css">
<link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
<link rel="stylesheet" href="~/Content/css/smoothness/jquery-ui-1.10.4.custom.min.css">
<link rel="stylesheet" href="~/Content/rs-plugin/css/settings.css">
<link rel="stylesheet" href="~/Content/css/theme.css">
<link rel="stylesheet" href="~/Content/css/colors/turquoise.css">
<link rel="stylesheet" href="~/Content/css/responsive.css">
<link rel="stylesheet" href="~/Content/css/customscreen.css">
<link rel="stylesheet" href="~/Content/jquery-ui.css"> 
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700">-->
<!-- Javascripts --> 

<script type="text/javascript" src="~/Content/js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="~/Content/js/bootstrap-hover-dropdown.min.js"></script> 
<script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.nicescroll.js"></script>  
<script type="text/javascript" src="~/Content/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery-ui-1.10.4.custom.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.jigowatt.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.sticky.js"></script> 
<script type="text/javascript" src="~/Content/js/waypoints.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="~/Content/js/jquery.gmap.min.js"></script> 
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="~/Content/js/custom.js"></script> 
<script type="text/javascript" src="~/Scripts/core.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-60691406-1', 'auto');
    ga('send', 'pageview');

</script>  
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        <!-- Top header -->
<div id="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="th-text pull-left">
          <div class="th-item"> <a href="#" style='color:#808080'><i class="fa fa-phone"></i> +(84)979776427</a> </div>
          <div class="th-item"> <a href="#" style='color:#808080'><i class="fa fa-envelope"></i>  vnnvh80@gmail.com</a></div>		  
        </div>		
      </div>	  
      <div class="col-xs-6">
        <div class="th-text pull-right">
          <div class="th-item" style='color:#808080'>
            EliteHotel CMS version 1.0
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header>
  <!-- Navigation -->
  <div class="navbar yamm navbar-default" id="sticky">
    <div class="container">      
      <div id="navbar-collapse-grid" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">         
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Danh mục<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/ListProvince/Index">Danh mục tỉnh, thành phố</a></li>
              <li><a href="/ListAddress/Index">Danh mục quận huyện</a></li>
              <li><a href="/ListFacilities/Index">Danh mục tiệc ích khách sạn</a></li>
              <li><a href="/ListServices/Index">Danh mục dịch vụ phòng</a></li>              
            </ul>
          </li>
		  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Quản lý Khách sạn<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/Hotels/Index">Thông tin khách sạn</a></li>
              <li><a href="/HotelBooking/Index">Thông tin đặt phòng </a></li>
              <li><a href="/CustomerRequest/Index">Yêu cầu đặt phòng qua email</a></li>  
            </ul>
          </li>          
		  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Quản lý Tin tức<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/News/Index">Danh sách bài viết</a></li>
              <li><a href="/CatNews/Index">Danh mục tin</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Quản lý Golf<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/Golf/Index">Sân Golf</a></li>
              <li><a href="/GolfBooking/Index">Thông tin đặt chỗ</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Quản lý thông tin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/Feedback/Index">Phản hồi của khách hàng</a></li>
              <li><a href="/CompanyIntro/Index">Giới thiệu công ty</a></li>
              <li><a href="/CompanyAddress/Index">Địa chỉ công ty</a></li>              
              <li><a href="/CustomerEmail/Index">Email khách hàng</a></li>
              <li><a href="/Slide/Index">Slide ảnh lớn trang chủ</a></li>
              <li><a href="/Logo/Index">Thay logo</a></li>
              <li><a href="/User/Index">User đăng nhập</a></li> 
              <li><a href="/CompanyBanking/Index">Tài khoản Banking công ty</a></li>  
              <li><a href="/HotLine/Index">Thay HotLine và Email contact</a></li>   
              <li><a href="/HotelRule/Index">Quy tắc đặt hủy phòng Khách sạn</a></li> 
              <li><a href="/GolfRule/Index">Quy tắc đặt hủy phòng sân Golf</a></li>   
              <li><a href="/Admin/SiteMap">Cập nhật sitemap cho Google Index</a></li> 
              <li><a href="/Admin/BackUp">Backup dữ liệu website</a></li>                                 
            </ul>
          </li>
          <li class="dropdown active" style="width:140px;display:block;">
              <a href="/Admin/Logout">Thoát</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
        <div id="body">
            @RenderSection("featured", required: false)                        
            @RenderBody()
        </div>
        <!-- Footer -->
<footer>
  <div class="container">
	<div class="col-md-12" >
		<h2 class="lined-heading bounceInRight appear" data-start="800"><span>Thông tin Liên Hệ</span></h2>
	</div>
    <div class="row">
      <div class="col-md-9 col-sm-3">
        <h4>CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI VÀ TRUYỀN THÔNG QUỐC TẾ</h4>
        <p>Office: R1209, 13th floor, 137 Nguyen Ngoc Vu Building, Cau Giay District, Hanoi, Vietnam</p>
      </div>      
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6" style="color:#ffffff;"> &copy; 2014 EliteHotel All Rights Reserved </div>
        
      </div>
    </div>
  </div>
</footer>

<!-- Go-top Button -->
<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>
<div id="dvautosearchhotel" style="z-index:1001;position:fixed;left:40%;top:40%;width:35%;height:auto;display:none;background-color:#b6ff00;border:1px solid #b6ff00;"><div id="labelautosearch" style="display:block;float:left;position:relative;">Gõ tên khách sạn(golf) cần tìm..</div><input name="hotelnameauto" type="text" id="hotelnameauto" value="" class="form-control" style="display:block;float:left;position:relative;" onkeyup="searchHotelAuto();"/></div>      
        <script>
            document.addEventListener("keydown", autosearch);
            function autosearch(event) {
                var keyCode = ('which' in event) ? event.which : event.keyCode;
                //alert("The Unicode key code is: " + keyCode);
                if (keyCode == 18) {
                    $("#dvautosearchhotel").show();
                    document.getElementById("hotelnameauto").focus();
                }
                if (keyCode == 27) {
                    $("#dvautosearchhotel").hide();
                }
            }   
        </script>
    </body>
</html>
