@model HotelGolfBooking.Models.hotel_promotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHotelDetail.cshtml";
}
<article>
<div class="col-md-8" id="fullcontentdetail" style="margin-bottom:100px;">
    @Html.Raw(@ViewBag.content)
</div>
</article>



