@model HotelGolfBooking.Models.list_services

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới dịch vụ phòng</h2>

@using (Html.BeginForm("Create", "ListServices", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
                <label for="room" style="display:block;width:auto;">Tên dịch vụ:</label>
                <input name="name" type="text" id="name" value="" class="form-control" style="width:60%;" placeholder="Gõ tên "/>
                @Html.ValidationMessageFor(model => model.name)
        </div>
        <p>
            <input type="button" class="btn btn-info" value="Thêm" onclick="checkField();"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function checkField() {
        if (document.getElementById("name").value == "") {
            alert("Nhập dịch vụ!");
            document.getElementById("name").focus();
            return false;
        }
        document.getElementById("EditForm").submit();
    }
</script>
