@{
    ViewBag.Title = "Xác nhận đặt sân Golf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 col-md-12">
<h3>
    Xác nhận đặt sân Golf thành công! Chúng tôi sẽ liên hệ với khách hàng qua email và điện thoại sớm nhất!
    @*Nếu quý khách đặt qua website và thanh toán bằng chuyển khoản Ebanking, Khi có email thông báo, quý khách vui lòng click vào link trong email để tiếp tục thanh toán.*@
</h3>
</div>
