@model HotelGolfBooking.Models.hotel_rule

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa quy tắc</h2>

<script src="/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Edit", "HotelRule", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Nội dung</label>                
                 <textarea name="rulehotel" id="rulehotel" rows="20" cols="80">
                     @Model.rulehotel
                </textarea>
                <script>
                    CKEDITOR.replace('rulehotel');
                </script>   
                 <p>
                    <button type="button" class="btn btn-info" onclick="checkField();">Sửa</button>
                </p>                      
              </div>           
        </div>
        
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function checkField() {
        if (document.getElementById("rulehotel").value == "") {
            alert("Nhập nội dung!");
            document.getElementById("rulehotel").focus();
            return false;
        }
        document.getElementById("EditForm").submit();
    }
</script>
