@model IEnumerable<HotelGolfBooking.Models.hotel_rule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Quy tắc đặt và hủy phòng khách sạn của EliteHotel</h2>
<h4>(Không thêm mới, khi muốn cập nhật sửa trên cái cũ)</h4>

<table class="tbl_price_room">
    <tr style="border-bottom:solid 1px #808080;">
        <th>Nội dung</th>        
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr style="border-bottom:solid 1px #808080;">
        <td style="border-right:1px solid #808080">
            @Html.Raw(@item.rulehotel)
        </td>        
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id })  
        </td>
    </tr>
}
</table>
<script>
    function add() {
        window.location.href = "/HotelRule/Create";
    }
</script>